<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         stopOnFailure="false">
    <testsuite name="AC_Interface Test Suite">
        <directory>./</directory>
    </testsuite>
</phpunit>