@import 'reset.css';

body {
    background-color: #fff;
    background-image: url(../images/Border_Left.gif);
    background-repeat: repeat-y;
    background-position: 0px 0px;
    margin: 0px 0px 30px 0px;
}

body, table, p, div, ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}

a:link {
    color: #0B0BF2;
    text-decoration: none;
}

a:visited {
    color: #639;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #F20B0B;
    text-decoration: underline;
}

img {
    border: none;
}

table {
    width:100%;
    border-spacing:0;
    border: 1px solid #edebeb;
    clear: both;
}

.wrapLogo {
    border: 1px solid #edebeb;
    background-color: #fff;
    padding: 2px;
}

tr.even {
    background-color: #fafcfe;
}

tr.odd {
    background-color: #eaf2f7;
}

table.results {
    width: 100%;
}

table.results tr td {
    padding: 10px 3px;
}

.aboutcolheader {    
    color: #900;
    font-weight: bold;    
    margin: 5px 0;
}

.taxonomicName {
    font-style:italic;
}

.field_header_black {    
    color: #000;
    margin: 1px 0 3px 0;
}

.field_header_black A:link,
.field_header_black A:visited,
.field_header_black A:active
{
    color: #000;
    text-decoration: none;
}

.field_header_black A:hover {
    color: #F20B0B;
    text-decoration: underline;
}

.form_header {
    color: #336;
    font-weight: bold;
    margin: 0 0 15px 0;
    text-align: center;
    padding: 0 10px 5px 8px;
    border-bottom: 1px solid #336;
}

.listlink {    
    color: #000;
}

.listlink a:link,
.listlink a:visited,
.listlink a:active 
{
    text-decoration: none;
    color: #000;
}

.listlink a:hover {
    color: #F20B0B;
    text-decoration: underline;    
}

.new, .new_big {
    font-size: 9px;
    font-weight: bold;
    color: #F400F4;
}

.new_big {
    font-size: 12px;
    padding: 0 4px;
}

.red {
	color: #B41A1A;
}

.nextpreviousarrows {
    font-size: 9px;
}

.selectedLetter {
    color: #336;
    font-weight: bold
}

.showdetails {
    margin-right: 2px;
    margin-left: 2px;
}

.lsid {
    font-size: 9px;
}

.tableheader, th {
    font-weight: bold;
    color: #666;    
    margin: 3px 2px;
}

th {
    text-align: left;
    padding: 3px 3px 10px 3px;	
}

th.current {
	text-decoration: underline;
}

th.horizontal a:link,
th.horizontal a:visited,
th.horizontal a:active {
    color: #666;
    text-decoration: none
}
th.horizontal a:hover {
    color: #666;
    text-decoration: underline
}
th.horizontal {
    vertical-align:top;
    color: #336;
}

th.vertical a:link,
th.vertical a:visited,
th.vertical a:active
{
    color: #336;
    text-decoration: none
}

th.vertical a:hover {
    color: #F20B0B;
    text-decoration: underline
}

th.vertical {
    vertical-align:top;
    color: #336;
}

.treenode {
    margin-left: 4px;
}

.divider {
    position: relative;
    left: 10px;
    right: 10px;
    height: 20px;
    border-top: 1px solid #336;
}

.view {
    border: 1px solid #336;
    background-color: #FAFCFE;
    padding: 1px 4px 1px 0;
    margin: 0px 0px 0px 4px;
}

.view ul li ul {
    border: 1px solid #336;
    background-color: #fafcfe;
}

.search-all,
.search-common,
.search-distribution {
    width: 410px;
    height: 130px;
}
.search-scientific {
    width: 410px;
    height: 180px;
}
div.results_header {
    position: relative;
    display: table;
    width: 100%;
    margin: 8px 0 0 0;
}
div.results_header div.counter {
    float: left;
    margin: 6px 0 0 0;    
}
div.paginationControl {
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
    margin: 10px 0;
}
div.paginationControl a {
    color: blue;
}
div.paginationControl .page-slider,
div.paginationControl .page-current {
    font-weight: bold;    
}
#header {
    margin: 27px 0 16px 0;
}
#right-col {
    z-index: -1;
    margin: 0 15px 0 125px;
}
#content {
    padding: 15px;
    margin: 0;
    display: block;
    min-width: 410px;
}
#left-col {
    width: 125px;
    margin-left: -122px;
    float: left;
}

/* Forms */
/*********/
form dt, dd {
    float: left;
    padding: 4px;
    margin: 0;
    clear: none;
}
form dt {
    float: left;
    text-align: right;
}
form p {
	margin: 0;
	padding: 0;	
	float: left;
	clear: none;
}
/* Search */
form div.search_form dt#match-label {
    padding: 8px 0 0 0;
}
form div.search_form dt#key-label,
form div.items_form dt#items-label
{
    padding: 10px 4px 0 0;
}
form div.items_form p.description {
    padding: 6px 0 0 4px;
}
form div.items_form dt#key-label,  
form div.items_form dd#key-element,
form div.items_form dt#match-label,  
form div.items_form dd#key-element,
form div.items_form dt#update-label
{
    display: none;
}
form div.search_form dd#key-element {
    padding-right: 0;   
}
form div.search_form dd#match-element {
	margin-left: 54px;
}
form div.search_form dd#search-element {
	float: right;
	padding: 0;
	margin-top: 15px;
}
form div.search_form dd#match-element,
form div.search_form dt#search-label {
    clear: left;
}
form dd#search-element input,
form dd#update-element input {
    color: #006;
    font-family: Verdana, "MS Sans Serif", "Espy Sans", Geneva, Arial;
    font-size: 13px;
}
/*Items per page*/
form div.items_form {
    float: right;
}
form div.items_form dd#items-element,
form div.items_form dt#items-label,
form div.items_form dd#items-element input,
form div.items_form dd#update-element {
	float: left;	
}
/* Menu */
/********/
#menu {
    position: fixed;
    left: 11px;
    top: 145px;
    width: 96px;
    z-index: 10;
}

#menu ul li {
    margin: 0;
    padding: 1px 3px;
    background: url(../images/Menu_Arrow.gif) no-repeat;
    background-position: right;
}

#menu ul li a {
    color: #000;
    text-decoration: none;
    margin: 0;
    padding: 0;
    cursor: default;
}

#menu ul li ul li {
    background: none;
    margin: 0;
    padding: 2px 4px;
}

.menuselected a span, 
#menu ul li ul li.menuselected a
    {
    color: #336;
    font-weight: bold;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    left: 95px; /* Set 1px less than menu width */
    top: -2px;
    width: 175px; /* Width of Menu Items */
    display: none;
}

#menu ul li img {    
	margin: 0 4px 0 0;
    vertical-align: text-top;
}

/* Styles for Menu Items */
#menu ul li a {
    display: block;
    text-decoration: none;
    padding: 2px 0;    
}

/* Fix IE. Hide from IE Mac \*/
* html ul li {
    float: left;
    height: 1%;
}

* html ul li a {
    height: 1%;
}

/* End */
#menu ul li:hover {
    background-color: #eaf2f7;
}  /* Hover Styles */
li:hover ul,li.over ul {
    display: block;
}  /* The magic */