body {
    background-color: #fff;
    background-image: url(../images/Border_Left.gif);
    background-repeat: repeat-y;
    background-position: 0px 0px;
    margin: 0px 0px 30px 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000;
}

ul {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px
}

li {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    margin-bottom: 5px;
}

a:link {
    color: #0B0BF2;
    text-decoration: none;
}

a:visited {
    color: #639;
    text-decoration: none;
}

a:active {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: #F20B0B;
    text-decoration: underline;
}

img {
    border: none;
}

table {
    width:100%;
    border-spacing:0;
    border: 1px solid #edebeb;
}

.wrapLogo {
    border: 1px solid #edebeb;
    background-color: #fff;
    padding: 2px;
}

tr.even {
    background-color: #fafcfe;
}

tr.odd {
    background-color: #eaf2f7;
}

table.results tr td {
    padding: 10px 3px;
}

.aboutcolheader {    
    color: #900;
    font-weight: bold;    
    margin: 5px 0;
}

.fieldheader {
    color: #336;
    font-weight: bold;
    margin: 1px 0 3px 0;
    text-decoration: underline;
}

.taxonomicName {
    font-style:italic;
}

.fieldheader A:link,
.fieldheader A:visited,
.fieldheader A:active
{
    color: #333366;
    text-decoration: none;
}

.fieldheader A:hover {
    color: #F20B0B;
    text-decoration: underline;
}

.fieldheaderblack {    
    color: #000000;
    margin-right: 0px;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 0px
}

.fieldheaderblack A:link,
.fieldheaderblack A:visited,
.fieldheaderblack A:active
{
    color: #000;
    text-decoration: none;
}

.fieldheaderblack A:hover {
    color: #F20B0B;
    text-decoration: underline;
}

.fieldvalue {
    color: #000;
    margin-right: 6px;
    margin-top: 1px;
    margin-bottom: 3px;
    margin-left: 0px
}

.fieldvalue_literature {    
    color: #000;
    margin-right: 6px;
    margin-top: 1px;
    margin-bottom: 6px;
    margin-left: 0px;
    list-style-image: url(../images/Menu_Arrow.gif)
}

.formfieldheader {    
    color: #000;
    margin-top: 4px;
}

.formheader {
    color: #336;
    font-weight: bold;
    margin: 0 0 15px 0;
    text-align: left;
    padding: 0 10px 10px 2px;
    border-bottom: 1px solid #336;
}

.formbutton {
    color: #006;
    font-family: Verdana, "MS Sans Serif", "Espy Sans", Geneva, Arial;
    font-size: 13px
}

.howtociteheader {    
    color: #900;
    font-weight: bold;    
    margin: 0 0 5px 0;
}

.listlink {    
    color: #000;
}

.listlink a:link,
.listlink a:visited,
.listlink a:active 
{
    text-decoration: none;
    color: #000;
}

.listlink a:hover {
    color: #F20B0B;
    text-decoration: underline;    
}

#menu ul li a {
    color: #000;
    text-decoration: none;    
    margin-left: 3px;
    margin-right: 3px;
    cursor: default
}

.menumain {    
    cursor: default;
    margin-left: 3px;
    margin-right: 3px;
}

.menumain a {
    color: #000;
    text-decoration: none;
}

.new, .new_big {
    font-size: 9px;
    font-weight: bold;
    color: #F400F4;
}

.new_big {
    font-size: 12px;
    padding: 0 4px;
}

.red {
	color: #B41A1A;
}

.nextpreviousarrows {
    font-size: 9px;
}

.selectedLetter {
    color: #336;
    font-weight: bold
}

.showdetails {
    margin-right: 2px;
    margin-left: 2px;
}

.lsid {
    font-size: 9px;
}

.tableheader, th {
    font-weight: bold;
    color: #666;    
    margin: 3px 2px;
}

th {
    text-align: left;
    padding: 3px 3px 10px 3px;	
}

th.current {
	text-decoration: underline;
}

.tableheader a:link, th.horizontal a:link {
    color: #666;
    text-decoration: none
}

.tableheader a:visited, th.horizontal a:visited {
    color: #666;
    text-decoration: none
}

.tableheader a:active, th.horizontal a:active {
    color: #666;
    text-decoration: none
}

.tableheader a:hover, th.horizontal a:hover {
    color: #666;
    text-decoration: underline
}

th.horizontal {
    vertical-align:top;
    color: #336;
}

th.vertical a:link,
th.vertical a:visited,
th.vertical a:active
{
    color: #336;
    text-decoration: none
}

th.vertical a:hover {
    color: #F20B0B;
    text-decoration: underline
}

th.vertical {
    vertical-align:top;
    color: #336;
}

.treenode {
    margin-left: 4px;
}

.divider {
    position: relative;
    left: 10px;
    right: 10px;
    height: 20px;
    border-top: 1px solid #336;
}

.view {
    border: 1px solid #336;
    background-color: #FAFCFE;
    padding: 1px 4px 1px 0;
    margin: 0px 0px 0px 4px;
}

#menu {
    position: fixed;
    left: 11px;
    top: 145px;
    width: 96px;
    z-index: 10;
}

.view ul li ul {
    border: 1px solid #336;
    background-color: #fafcfe;
}

#menu ul li {
    margin: 0;
    background: url(../images/Menu_Arrow.gif) no-repeat;
    background-position: right;
}

#menu ul li ul li {
    background: none;
    padding: 0;
    margin: 0 :
}

#menu ul li ul li a {
    padding: 3px;
}

.menuselected a span,.menuselected a div.item,#menu ul li ul li.menuselected a
    {
    color: #336;
    font-weight: bold;
}

#content {
    position: absolute;
    left: 121px;
    top: 145px;
    z-index: -1;
    min-width: 620px;
    width: 620px;
    min-height: 300px;
    padding: 15px;
}

/*
FOR THE MENU
*/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li {
    position: relative;
}

li ul {
    position: absolute;
    left: 95px; /* Set 1px less than menu width */
    top: 0;
    width: 175px; /* Width of Menu Items */
    display: none;
}

#menu ul li img {
    margin: 2px 4px 0 0;
}

/* Styles for Menu Items */
#menu ul li a {
    display: block;
    text-decoration: none;
}

/* Fix IE. Hide from IE Mac \*/
* html ul li {
    float: left;
    height: 1%;
}

* html ul li a {
    height: 1%;
}

/* End */
#menu ul li:hover {
    background-color: #eaf2f7;
}  /* Hover Styles */
li:hover ul,li.over ul {
    display: block;
}  /* The magic */
div#header {
    margin: 27px 0 18px 0;
}