body {
	background-color: #fff;
	background-image: url(../images/Border_Left.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin: 0px 0px 30px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000;
}

ul {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}

li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-bottom: 5px;
}

a:link {
	color: #0B0BF2;
	text-decoration: none;
}

a:visited {
	color: #663399;
	text-decoration: none;
}

a:active {
	color: blue;
	text-decoration: none;
}

a:hover {
	color: #F20B0B;
	text-decoration: underline;
}

img {
	border: none;
}

.aboutcolheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 0px
}

.fieldheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336;
	font-weight: bold;
	margin-right: 0px;
	margin-top: 1px;
	margin-bottom: 3px;
	margin-left: 0px
}

.fieldheader A:link {
	color: #333366;
	text-decoration: none;
}

.fieldheader A:visited {
	color: #333366;
	text-decoration: none;
}

.fieldheader A:active {
	color: #333366;
	text-decoration: none;
}

.fieldheader A:hover {
	color: #F20B0B;
	text-decoration: underline;
}

.fieldheaderblack {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-right: 0px;
	margin-top: 1px;
	margin-bottom: 3px;
	margin-left: 0px
}

.fieldheaderblack A:link {
	color: #000000;
	text-decoration: none;
}

.fieldheaderblack A:visited {
	color: #000000;
	text-decoration: none;
}

.fieldheaderblack A:active {
	color: #000000;
	text-decoration: none;
}

.fieldheaderblack A:hover {
	color: #F20B0B;
	text-decoration: underline;
}

.fieldvalue {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-right: 6px;
	margin-top: 1px;
	margin-bottom: 3px;
	margin-left: 0px
}

.fieldvalue_literature {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-right: 6px;
	margin-top: 1px;
	margin-bottom: 6px;
	margin-left: 0px;
	list-style-image: url(../images/Menu_Arrow.gif)
}

.formfieldheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	margin-top: 4px;
}

.formheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333366;
	font-weight: bold;
	margin: 0 0 15px 0;
	text-align: left;
	padding: 0 10px 10px 2px;
	border-bottom: 1px solid #336;
}

.formbutton {
	color: #000066;
	font-family: Verdana, "MS Sans Serif", "Espy Sans", Geneva, Arial;
	font-size: 13px
}

.howtociteheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
	font-weight: bold;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 0px
}

.listlink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}

.listlink a:link {
	text-decoration: none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}

.listlink a:visited {
	text-decoration: none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}

.listlink a:active {
	text-decoration: none;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}

.listlink a:hover {
	color: #F20B0B;
	text-decoration: underline;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px
}

#menu ul li a {
	color: #000;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 3px;
	margin-right: 3px;
	cursor: default
}

.menumain {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	cursor: default;
	margin-left: 3px;
	margin-right: 3px
}

.menumain a {
	color: #000;
	text-decoration: none
}

.new {
	font-size: 9px;
	font-weight: bold;
	color: #F400F4
}

.nextpreviousarrows {
	font-size: 9px
}

.selectedLetter {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #336;
	font-weight: bold
}

.showdetails {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-right: 2px;
	margin-left: 2px
}

.tableheader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	margin-top: 3px;
	margin-right: 2px;
	margin-bottom: 3px;
	margin-left: 2px
}

.tableheader {
	color: #666666;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 0px;
	margin-right: 3px;
	cursor: default
}

.tableheader a:link {
	color: #666;
	text-decoration: none
}

.tableheader a:visited {
	color: #666;
	text-decoration: none
}

.tableheader a:active {
	color: #666;
	text-decoration: none
}

.tableheader a:hover {
	color: #666;
	text-decoration: underline
}

.treenode {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 4px;
}

.divider {
	position: relative;
	left: 10px;
	right: 10px;
	height: 20px;
	border-top: 1px solid #333366;
}

.view {
	border: 1px solid #333366;
	background-color: #FAFCFE;
	padding: 1px 4px 1px 0;
	margin: 0px 0px 0px 4px;	
}

#menu {
	position: fixed;
	left: 11px;
	top: 145px;
	width: 96px;
	z-index: 10;
}

.view ul li ul {
	border: 1px solid #336;
	background-color: #fafcfe;
}

#menu ul li {
	margin: 0;
	background: url(../images/Menu_Arrow.gif)
		no-repeat;
	background-position: right;
}

#menu ul li ul li {
	background: none;
	padding: 0;
	margin: 0:
}

#menu ul li ul li a {
	padding: 3px;
}

.menuselected a span,
.menuselected a div.item,
#menu ul li ul li.menuselected a {
	color: #336;
    font-weight: bold;
}

#content {
	position: absolute;
	left: 121px;
	top: 145px;
	z-index: 5;
	min-width: 850px;
    min-height: 300px;
    padding: 15px;
}

/*
FOR THE MENU
*/
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ul li {
	position: relative;
}

li ul {
	position: absolute;
	left: 95px; /* Set 1px less than menu width */
	top: 0;
	width: 175px; /* Width of Menu Items */
	display: none;
}

#menu ul li img {
	margin: 2px 4px 0 0;
} 

/* Styles for Menu Items */
#menu ul li a {
	display: block;	
	text-decoration: none;
}

/* Fix IE. Hide from IE Mac \*/
* html ul li {
	float: left;
	height: 1%;
}

* html ul li a {
	height: 1%;
}

/* End */
#menu ul li:hover {
	background-color: #eaf2f7;
}  /* Hover Styles */
li:hover ul,li.over ul {
	display: block;
} /* The magic */

div#header {
	margin: 27px 0 18px 0;
}